body {
    font-family: 'Poppins', sans-serif;
    color: var(--pink);
}
section {
    background-color: var(--black);
    }

:root {
    --black: #000000;
    --grey: #575757;
    --pink: #cc007a;
    --light: #f4ece1;
    --gold: #f5d59a;
}
      
/*--Hero Area--*/
.hero {
    background-color: var(--black);
    height: 100vh;
    color: var(--pink);
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--pink);
}

ul {
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 50px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 180px;
    height: 55px;
    border-radius: 25px;
    background-color: var(--pink);
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--black);
}

.button:active {
    background-color: var(--grey);
}

footer {
    background-color: var(--grey);
    color: var(--gold);
    text-align: center;
    padding: 80px;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 90px;
    margin: 30px;
}

.social-logo {
    margin: 20px;
}

/*About Me Area*/

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

@media only screen and (max-width: 1000px) {
    .sub-section{
        display: flex;
        flex-wrap: wrap;
    }
}

.sub-section-alternative {
display: flex;
flex-direction: column;
text-align: center;
padding: 40px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    background-color: var(--light);
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px var(--gold);
    margin: 10px;
}
.project-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 200px;
    border-radius: 100px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: var(--grey);
}

a {
    text-decoration: none;
    color: var(--light);
}

.send-email {
    font-size: 30px;
    text-decoration-line: underline;
    color: var(--light);  
}