body {
    font-family: 'Poppins', sans-serif;
    color: var(--pink);
    margin: 0;
}

/*color chart*/
:root {
    --black: #000000;
    --grey: #575757;
    --pink: #cc007a;
    --light: #f6eab2;
    --gold: #f3d430;
}

/*font sizes*/
h1 {
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 50px;
    margin: 0;
}

p {
    font-size: 30px;
    font-weight: 200;
    margin: 0;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

/*general link colors, unless otherwise specified*/
a {
    text-decoration: none;
    color: var(--light);
}

/*--body--*/

/*--navigation bar--*/
.navbar {
    overflow: hidden;
    background-color: var(--pink);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: var(--gold);
    color: var(--grey);
  }

  .navbar a:active {
    background-color: var(--grey);
    color: var(--light);
  }
  
/*--hero area--*/
.hero-area {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.hero-text {
   padding: 50px;
}

/*change the color on only on the hero paragraph*/
#hero-p {
    color: var(--gold);
    font-weight: 500;
}
.button {
    width: 180px;
    height: 55px;
    border-radius: 25px;
    background-color: var(--pink);
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--black);
}

.button:active {
    background-color: var(--grey);
}

.socials {
    padding: 50px;
    line-height: 5;
}

@media only screen and (max-width: 1000px) {
    .hero-area{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0px;
    }
}

/*--about me area--*/
.sub-section-one {
    background-color: var(--black);
    color: var(--gold);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

@media only screen and (max-width: 1000px) {
    .sub-section-one {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;
        }
}

/*Project Area*/
.sub-section-two {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.main-card {
    background-color: var(--pink);
    color: var(--light);
    width: 1000px;
    height: 400px;
    box-shadow: 5px 5px 20px var(--light);
    margin: 10px;
}

.project-card {
    background-color: var(--pink);
    color: var(--light);
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px var(--light);
    margin: 10px;
}

.project-container-main, .project-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 30px;
}

.project-image-main {
    margin-top: 25px;
    width: 400px;
    border-radius: 50px;
}

.project-image {
    margin-top: 25px;
    width: 200px;
    border-radius: 100px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: var(--gold);
}

@media only screen and (max-width: 1000px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}

/*footer*/
footer {
    background-color: var(--grey);
    color: var(--gold);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

.send-email {
    font-size: 30px;
    text-decoration-line: underline;
    color: var(--light);  
}